---
import BaseLayout from './baseLayout.html';
---

<BaseLayout>
    <div id="about_me_scroll" class="pages">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 left" id="about_me_left">
                    <img class="img-responsive img-rabbit" src="/style/images/baseball_game.jpg">
                    <img class="img-responsive img-rabbit" src="/style/images/golf.jpg">
                </div>

                <div class="col-md-6 right" id="about_me_right">
                    <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Home </a>
                    <div id="watermark">
                        <h2 class="page-title" text-center>About Me</h2>
                        <div class="marker">a</div>
                    </div>
                    <p class='subtitle'>Hi, I'm Camby Abell, an SDET/SWE from Wilmington, NC.</p>
                    <p class="info"> I have been an SDET for four years, and I absolutely love doing it. I discovered my affinity for automated testing
                        in college during my studies. We had a class project where we had to effectively emulate a modern software company. We had to have
                        "standups", meetings, sprints, retros, etc. and one of the requirements was testing. It could have been manual tests, unit tests, or 
                        automated tests. I had never heard of automated testing before this. So I took on the task of automated testing and immediately was 
                        intrigued by what could be done using the tools. Once I discovered it could be an actual career, I knew the path I wanted to be on. 
                        It perfectly mixes my love for software engineering, and my curiousity when testing software.
                    </p>
                    <p class="info">
                        Some of my favorite things to do are play golf, do brain teasers (NYT Crossword, Wordle, Immaculate Grid), 
                        spend time outdoors(especially at the beach), and watching baseball. Shoot me a message on LinkedIn and we can nerd out over some baseball statistics!
                    </p>
                </div>
                <div class="social text-center">
                    <a href="https://github.com/cj-abell" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://linkedin.com/in/camby-abell/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>            
    </div>
</BaseLayout>