---
import BaseLayout from './baseLayout.html';
---

<BaseLayout>
    <div id="career_scroll" class="pages">                                  
        <div class="container main">
            <div class="row">
                <div class="col-md-6" id="career_left">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item"><img class="img-responsive img-rabbit" src="/style/docs/resume.jpg"></div>
                    </div>
                </div>

                <div class="col-md-6" id="career_right">
                    <a href="/" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Home </a>
                    <div id="watermark">
                        <h2 class="page-title" text-center>Career</h2>
                        <div class="marker">c</div>
                    </div>
                    <p class='subtitle'> </p>
                    <p class="info">"I graduated from East Carolina University in 2019 (Go Pirates!) with a Bachelor's of Science in Computer Science. 
                        I started my career at nCino, here in Wilmington, NC, as an SDET. I first began working with development teams to help them 
                        streamline their testing process to help speed up regression for teams. To do that, we used a Selenium framework written in Java.
                        We would collaborate to decide which manual tests had the most value, as well as which tests were good automation candidates 
                        (time-consuming, concise, reliable, etc). These tests included UI, API, and integrations testing. I did that for about two years, 
                        then I was shifted onto a team to develop a framework that both the QA Automation team could use, as well as the development teams. 
                        The goal was to increase the amount of automated tests being executed, as well as getting automation more embedded into our SDLC. 
                        That framework was designed as an npm package, and written using Playwright, Cucumber + Gherkins, written in Typescript."
                    </p>
                    <p class="info">
                        "After nCino, I joined the team at FedEx Ground. I was put on a team that helped with automating new and existing web applications that 
                        the teams were building. That included re-writing older tests written in Protractor, as well as fleshing out additional testing functionality 
                        . "
                    </p>  
                </div>
                <div class="social text-center">
                    <a href="https://github.com/cj-abell" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://linkedin.com/in/camby-abell/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>    
    </div>
</BaseLayout>