---
import BaseLayout from './baseLayout.html';
---

<BaseLayout>
    <div id="contact_me_scroll" class="pages">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 left" id="contact_me_left">
                    <img class="img-responsive img-rabbit" src="/style/images/contact.jpg">
                </div>

                <div class="col-md-6 right" id="contact_me_right">
                    <a href="/" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Home </a>
                    <div id="watermark">
                        <h2 class="page-title" text-center>Contact Me</h2>
                        <div class="marker">c</div>
                    </div>
                    <p class="info">
                        <i style="font-size:24px" class="fa">&#xf095;</i>
                        : (919) 455-3923
                    </p>
                    <p class="info">
                        <i style="font-size:24px" class="fa">&#xf0e0;</i>
                        : cambyabell@gmail.com
                    </p>
                </div>
                <div class="social text-center">
                    <a href="https://github.com/cj-abell" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://linkedin.com/in/camby-abell/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
   
        <footer class="text-center">
            <div class="container bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Made with <i class="fa fa-heartbeat" aria-hidden="true"></i> by <a href="https://themewagon.com/">Themewagon</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</BaseLayout>