---
import BaseLayout from './baseLayout.html';
---

<BaseLayout>
	<div id="index">                                           <!-- Index starts here -->
        <div class="container main">
            <div class="row home">
                <div id = "index_left" class="col-md-6 left">
                    <img class="img-responsive img-rabbit" src="/style/images/headshot.jpg">
                </div>
                <div id = "index_right" class="col-md-6 text-center right">
                    <div class="logo">
                        <img src="/style/images/logo.png">
                        <h4>CAMBY ABELL</h4>
                    </div>
                    <p class="home-description">
                        Hi, I'm Camby Abell, an SDET/SWE from Wilmington, NC. I am passionate about assuring quality, new technologies, and collaboration. I truly love my work, and really enjoy helping others.
                    </p>
                    <div class="btn-group-vertical custom_btn animated slideinright">
                        <div id="career" class="btn btn-rabbit">Career</div>
                        <div id="about_me" class="btn btn-rabbit">About Me</div>
                        <div id="contact_me" class="btn btn-rabbit">Contact Me</div>
                    </div>      
                    <div class="social">
                        <a href="https://github.com/cj-abell" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://linkedin.com/in/camby-abell/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>                                                      <!-- index ends here -->
</BaseLayout>